[Unit]
Description=Odoo Docker containers
After=docker.service
Requires=docker.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /home/kobros/Workspace/docker/compose/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f /home/kobros/Workspace/docker/compose/docker-compose.yml stop"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target